<div class="grid-item">
  {% if project.redirect %}
  <a href="{{ project.redirect }}">
  {% else %}
  <a href="{{ project.url | relative_url }}">
  {% endif %}
    <div class="card hoverable">
      {% if project.img %}
      <img src="{{ project.img | relative_url }}" alt="project thumbnail">
      {% endif %}
      <div class="card-body">
        <h2 class="card-title">{{ project.title }}</h2>
        <p class="card-text">{{ project.description }}</p>
        <div class="row ml-1 mr-1 p-0">
          {% if project.github %}
          <div class="github-icon">
            <div class="icon" data-toggle="tooltip" title="Code Repository">
              <a href="{{ project.github }}"><i class="fab fa-github gh-icon"></i></a>
            </div>
            {% if project.github_stars %}
            <span class="stars" data-toggle="tooltip" title="GitHub Stars">
              <i class="fas fa-star"></i>
              <span id="{{ project.github_stars }}-stars"></span>
            </span>
            {% endif %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </a>
</div>

<iframe src="https://iiitbac-my.sharepoint.com/personal/nandakishore_menon_iiitb_ac_in/_layouts/15/embed.aspx?UniqueId=136a3742-aebb-48ae-9331-1da14da76971&embed=%7B%22ust%22%3Atrue%2C%22hv%22%3A%22CopyEmbedCode%22%7D&referrer=StreamWebApp&referrerScenario=EmbedDialog.Create" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen title="Karnataka Datalake demo.mp4"></iframe>
